n8n-workflow.json
{
    "name": "Mental Health AI Insights",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "mental-health",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-trigger",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [240, 300],
        "webhookId": "mental-health-webhook"
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.insights_requested }}",
                "operation": "equal",
                "value2": true
              }
            ]
          }
        },
        "id": "check-insights",
        "name": "Check if Insights Requested",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [460, 300]
      },
      {
        "parameters": {
          "prompt": "Analyze the following mental health data and provide personalized insights:\n\nUser ID: {{ $json.user_id }}\nMood: {{ $json.mood_data.mood }}\nEnergy Level: {{ $json.mood_data.energy_level }}/10\nSleep Hours: {{ $json.mood_data.sleep_hours }}\nStress Level: {{ $json.mood_data.stress_level }}/10\nActivities: {{ $json.mood_data.activities }}\nNotes: {{ $json.mood_data.notes }}\n\nProvide 2-3 personalized insights in JSON format:\n{\n  \"insights\": [\n    {\n      \"type\": \"pattern|suggestion|warning|achievement\",\n      \"title\": \"Insight Title\",\n      \"description\": \"Detailed description of the insight\",\n      \"confidence\": 0.85\n    }\n  ],\n  \"recommendations\": [\n    \"Specific actionable recommendation 1\",\n    \"Specific actionable recommendation 2\"\n  ]\n}",
          "options": {
            "temperature": 0.7,
            "maxTokens": 500
          }
        },
        "id": "ai-analysis",
        "name": "AI Analysis",
        "type": "n8n-nodes-base.openAi",
        "typeVersion": 1,
        "position": [680, 200]
      },
      {
        "parameters": {
          "prompt": "Based on the mood data, provide 2-3 quick recommendations:\n\nMood: {{ $json.mood_data.mood }}\nEnergy: {{ $json.mood_data.energy_level }}/10\nSleep: {{ $json.mood_data.sleep_hours }}h\nStress: {{ $json.mood_data.stress_level }}/10\n\nProvide recommendations as a JSON array: [\"recommendation 1\", \"recommendation 2\"]",
          "options": {
            "temperature": 0.6,
            "maxTokens": 300
          }
        },
        "id": "quick-recommendations",
        "name": "Quick Recommendations",
        "type": "n8n-nodes-base.openAi",
        "typeVersion": 1,
        "position": [680, 400]
      },
      {
        "parameters": {
          "jsCode": "// Parse AI response and format insights\nconst aiResponse = $input.first().json;\nlet insights = [];\nlet recommendations = [];\n\ntry {\n  const parsed = JSON.parse(aiResponse.choices[0].message.content);\n  insights = parsed.insights || [];\n  recommendations = parsed.recommendations || [];\n} catch (error) {\n  // Fallback if parsing fails\n  insights = [\n    {\n      type: \"suggestion\",\n      title: \"Keep Tracking\",\n      description: \"Continue tracking your mood to identify patterns.\",\n      confidence: 0.8\n    }\n  ];\n  recommendations = [\"Continue your mood tracking routine\"];\n}\n\nreturn {\n  success: true,\n  insights: insights,\n  recommendations: recommendations\n};"
        },
        "id": "format-insights",
        "name": "Format Insights",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [900, 200]
      },
      {
        "parameters": {
          "jsCode": "// Parse quick recommendations\nconst aiResponse = $input.first().json;\nlet recommendations = [];\n\ntry {\n  const parsed = JSON.parse(aiResponse.choices[0].message.content);\n  recommendations = Array.isArray(parsed) ? parsed : [parsed];\n} catch (error) {\n  recommendations = [\"Continue tracking your mood\"];\n}\n\nreturn {\n  success: true,\n  recommendations: recommendations\n};"
        },
        "id": "format-recommendations",
        "name": "Format Recommendations",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [900, 400]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}"
        },
        "id": "response-insights",
        "name": "Response with Insights",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [1120, 200]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}"
        },
        "id": "response-recommendations",
        "name": "Response with Recommendations",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [1120, 400]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Check if Insights Requested",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check if Insights Requested": {
        "main": [
          [
            {
              "node": "AI Analysis",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Quick Recommendations",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Analysis": {
        "main": [
          [
            {
              "node": "Format Insights",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Quick Recommendations": {
        "main": [
          [
            {
              "node": "Format Recommendations",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Insights": {
        "main": [
          [
            {
              "node": "Response with Insights",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Recommendations": {
        "main": [
          [
            {
              "node": "Response with Recommendations",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
      {
        "createdAt": "2024-01-01T00:00:00.000Z",
        "updatedAt": "2024-01-01T00:00:00.000Z",
        "id": "mental-health",
        "name": "mental-health"
      }
    ],
    "triggerCount": 1,
    "updatedAt": "2024-01-01T00:00:00.000Z",
    "versionId": "1"
}