n8n-workflow.json
{
  "name": "Mental Health AI Insights",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mental-health",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "mental-health-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.insights_requested }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "id": "check-insights",
      "name": "Check if Insights Requested",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "prompt": "Analyze this mental health data and provide insights:\n\nUser ID: {{ $json.user_id }}\nMood: {{ $json.mood_data.mood }}\nEnergy Level: {{ $json.mood_data.energy_level }}/10\nSleep Hours: {{ $json.mood_data.sleep_hours }}\nStress Level: {{ $json.mood_data.stress_level }}/10\nActivities: {{ $json.mood_data.activities.join(', ') }}\nNotes: {{ $json.mood_data.notes }}\n\nProvide 2-3 personalized insights in JSON format:\n{\n  \"insights\": [\n    {\n      \"type\": \"pattern|suggestion|warning|achievement\",\n      \"title\": \"Insight Title\",\n      \"description\": \"Detailed description\",\n      \"confidence\": 0.85\n    }\n  ],\n  \"recommendations\": [\"Recommendation 1\", \"Recommendation 2\"]\n}",
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "id": "ai-analysis",
      "name": "AI Analysis",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "prompt": "Based on this mood data, provide 2-3 quick recommendations for improving mental health:\n\nMood: {{ $json.mood_data.mood }}\nEnergy: {{ $json.mood_data.energy_level }}/10\nSleep: {{ $json.mood_data.sleep_hours }}h\nStress: {{ $json.mood_data.stress_level }}/10\n\nProvide recommendations as a JSON array: [\"Recommendation 1\", \"Recommendation 2\"]",
        "options": {
          "temperature": 0.6,
          "maxTokens": 300
        }
      },
      "id": "quick-recommendations",
      "name": "Quick Recommendations",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [680, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"insights\": {{ $json.insights || [] }},\n  \"recommendations\": {{ $json.recommendations || [] }}\n}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"recommendations\": {{ $json.recommendations || [] }}\n}"
      },
      "id": "recommendations-response",
      "name": "Recommendations Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"No insights requested\"\n}"
      },
      "id": "no-insights-response",
      "name": "No Insights Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check if Insights Requested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Insights Requested": {
      "main": [
        [
          {
            "node": "AI Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Quick Recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quick Recommendations": {
      "main": [
        [
          {
            "node": "Recommendations Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
} 